[submodule "GloryPath"]
	path = GloryPath
	url = https://github.com/jsueprez/GloryPath.git
[submodule "template"]
	path = template
	url = https://github.com/jsueprez/template.git
[submodule "Inheritance"]
	path = Inheritance
	url = https://github.com/jsueprez/Inheritance.git
[submodule "Polymorphism"]
	path = Polymorphism
	url = https://github.com/jsueprez/Polymorphism.git
[submodule "Arrays"]
	path = Arrays
	url = https://github.com/jsueprez/Arrays.git
[submodule "HackerRank"]
	path = HackerRank
	url = https://github.com/jsueprez/HackerRank.git
[submodule "SmartPointer"]
	path = SmartPointer
	url = https://github.com/jsueprez/SmartPointer.git
